@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&family=Karantina&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overlay-gradient: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5));
  --overlay-gradient-dark: linear-gradient(
    rgba(2, 15, 8, 0.75),
    rgba(2, 15, 8, 0.75)
  );
  --color-background-primary: rgba(1, 10, 5, 0.9);
}

* {
  scroll-behavior: smooth;
}

/* * Tailwind Styles: * */
.app {
  /* @apply font-inter; */
  @apply font-inter text-white;
}

.section {
  @apply py-[54px] tablet:py-[64px] desktop:py-[104px];
}

.text-heading {
  @apply text-[40px] tablet:text-[67px] desktop:text-[98px] font-thin leading-[1.4] tracking-[-1.6px] tablet:tracking-[-2.68px] desktop:tracking-[-3.92px] tablet:leading-normal uppercase;
}

.text-primary {
  @apply text-[14px] font-extralight leading-[1.428] tablet:text-[16px] tablet:leading-[1.25] desktop:text-[18px] desktop:leading-[1.333];
}

.fixed-full {
  @apply fixed top-0 right-0 left-0 bottom-0;
}

.nav_link {
  @apply text-[18px] tracking-[1.8px] tablet:text-[14px] tablet:tracking-[1.4px];
}

/* * Background images & pseudo-elements: *  */

.background-overlay {
  background-color: var(--color-background-primary);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/hero/hero.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/hero/hero.webp") 1x);
}

.section-about {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/about/about.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/about/about.webp")
          1x);
}

.hero-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  background-image: url("/assets/icons/mobile/btn-frame-left.svg");
  background-repeat: no-repeat;
}

.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 100%;
  background-image: url("/assets/icons/mobile/btn-frame-right.svg");
  background-repeat: no-repeat;
}

.active-slider-tab::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  transform: translateY(-50%) rotate(45deg);
  background-color: #fff;
}

.service-atvs {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/service/service-01-bg.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-01-bg.webp")
          1x);
}

.service-climb {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/service/service-02-bg.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-02-bg.webp")
          1x);
}

.service-balloon {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/service/service-03-bg.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-03-bg.webp")
          1x);
}

.service-skydive {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/service/service-04-bg.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-04-bg.webp")
          1x);
}

.service-raft {
  background-image: var(--overlay-gradient),
    url("/assets/images/mobile/backgrounds/service/service-05-bg.jpg");

  background-image: var(--overlay-gradient),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-05-bg.webp")
          1x);
}

.section-gallery {
  background-image: var(--overlay-gradient-dark),
    url("/assets/images/mobile/backgrounds/gallery/gallery-bg.jpg");

  background-image: var(--overlay-gradient-dark),
    -webkit-image-set(url("/assets/images/mobile/backgrounds/gallery/gallery-bg.webp")
          1x);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/hero/hero@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/hero/hero@2x.webp")
            2x);
  }

  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/about/about@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/about/about@2x.webp")
            2x);
  }

  .service-atvs {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/service/service-01-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-01-bg@2x.webp")
            2x);
  }

  .service-climb {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/service/service-02-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-02-bg@2x.webp")
            2x);
  }

  .service-balloon {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/service/service-03-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-03-bg@2x.webp")
            2x);
  }

  .service-skydive {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/service/service-04-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-04-bg@2x.webp")
            2x);
  }

  .service-raft {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/service/service-05-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/service/service-05-bg@2x.webp")
            2x);
  }

  .section-gallery {
    background-image: var(--overlay-gradient-dark),
      url("/assets/images/mobile/backgrounds/gallery/gallery-bg@2x.jpg");

    background-image: var(--overlay-gradient-dark),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/gallery/gallery-bg@2x.webp")
            2x);
  }
}

@media screen and (min-width: 480px) {
  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/about/about-large.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/about/about-large.webp")
            1x);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/mobile/backgrounds/about/about-large@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/mobile/backgrounds/about/about-large@2x.webp")
            2x);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/hero/hero.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/hero/hero.webp")
            1x);
  }

  .hero-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background-image: url("/assets/icons/tablet/btn-frame-left.svg");
    background-repeat: no-repeat;
  }

  .hero-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background-image: url("/assets/icons/tablet/btn-frame-right.svg");
    background-repeat: no-repeat;
  }

  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/about/about.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/about/about.webp")
            1x);
  }

  .service-atvs {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-01-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-01-bg.webp")
            1x);
  }

  .service-climb {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-02-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-02-bg.webp")
            1x);
  }
  .service-balloon {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-03-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-03-bg.webp")
            1x);
  }
  .service-skydive {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-04-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-04-bg.webp")
            1x);
  }
  .service-raft {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-05-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-05-bg.webp")
            1x);
  }

  .section-gallery {
    background-image: var(--overlay-gradient-dark),
      url("/assets/images/tablet/backgrounds/gallery/gallery-bg.jpg");

    background-image: var(--overlay-gradient-dark),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/gallery/gallery-bg.webp")
            1x);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/hero/hero@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/hero/hero@2x.webp")
            2x);
  }

  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/about/about@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/about/about@2x.webp")
            2x);
  }

  .service-atvs {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-01-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-01-bg@2x.webp")
            2x);
  }

  .service-climb {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-01-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-02-bg@2x.webp")
            2x);
  }

  .service-balloon {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-03-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-03-bg@2x.webp")
            2x);
  }

  .service-skydive {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-04-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-04-bg@2x.webp")
            2x);
  }

  .service-raft {
    background-image: var(--overlay-gradient),
      url("/assets/images/tablet/backgrounds/service/service-05-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/service/service-05-bg@2x.webp")
            2x);
  }

  .section-gallery {
    background-image: var(--overlay-gradient-dark),
      url("/assets/images/tablet/backgrounds/gallery/gallery-bg@2x.jpg");

    background-image: var(--overlay-gradient-dark),
      -webkit-image-set(url("/assets/images/tablet/backgrounds/gallery/gallery-bg@2x.webp")
            2x);
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/hero/hero.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/hero/hero.webp")
            1x);
  }

  .hero-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 100%;
    background-image: url("/assets/icons/desktop/btn-frame-left.svg");
    background-repeat: no-repeat;
  }

  .hero-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 100%;
    background-image: url("/assets/icons/desktop/btn-frame-right.svg");
    background-repeat: no-repeat;
  }

  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/about/about.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/about/about.webp")
            1x);
  }

  .service-atvs {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-01-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-01-bg.webp")
            1x);
  }

  .service-climb {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-02-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-02-bg.webp")
            1x);
  }

  .service-balloon {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-03-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-03-bg.webp")
            1x);
  }

  .service-skydive {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-04-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-04-bg.webp")
            1x);
  }

  .service-raft {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-05-bg.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-05-bg.webp")
            1x);
  }

  .section-gallery {
    background-image: var(--overlay-gradient-dark),
      url("/assets/images/desktop/backgrounds/gallery/gallery-bg.jpg");

    background-image: var(--overlay-gradient-dark),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/gallery/gallery-bg.webp")
            1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/hero/hero@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/hero/hero@2x.webp")
            2x);
  }

  .section-about {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/about/about@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/about/about@2x.webp")
            2x);
  }

  .service-atvs {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-01-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-01-bg@2x.webp")
            2x);
  }

  .service-climb {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-02-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-02-bg@2x.webp")
            2x);
  }

  .service-balloon {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-03-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-03-bg@2x.webp")
            2x);
  }

  .service-skydive {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-04-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-04-bg@2x.webp")
            2x);
  }

  .service-raft {
    background-image: var(--overlay-gradient),
      url("/assets/images/desktop/backgrounds/service/service-05-bg@2x.jpg");

    background-image: var(--overlay-gradient),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/service/service-05-bg@2x.webp")
            2x);
  }

  .section-gallery {
    background-image: var(--overlay-gradient-dark),
      url("/assets/images/desktop/backgrounds/gallery/gallery-bg@2x.jpg");

    background-image: var(--overlay-gradient-dark),
      -webkit-image-set(url("/assets/images/desktop/backgrounds/gallery/gallery-bg@2x.webp")
            2x);
  }
}

/* ---- */

.logo-text {
  leading-trim: both;
  text-edge: cap;
}

.logo-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  /* background: url("/public/assets/images/logo-element.png"); */
  background-image: url("/assets/images/logo-element.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gallery-carousel .swiper-wrapper {
  align-items: center;
}

.gallery-carousel .swiper-slide {
  scale: 0.55;
  transition: scale 1000ms linear !important;
}

.gallery-carousel .swiper-slide-prev,
.gallery-carousel .swiper-slide-next {
  width: 121px !important;
  height: 87px;
  scale: 1;
}

.gallery-carousel .swiper-slide-active {
  flex-shrink: 0;
  width: 415px !important;
  height: 294px !important;
  scale: 1;
  animation: slide-active-scale 1500ms linear;
}

@media screen and (min-width: 1280px) {
  .gallery-carousel .swiper-slide {
    scale: 0.77;
  }

  .gallery-carousel .swiper-slide-active {
    flex-shrink: 0;
    width: 606px !important;
    height: 429px !important;
    scale: 1;
  }

  .gallery-carousel .swiper-slide-prev,
  .gallery-carousel .swiper-slide-next {
    width: 312px !important;
    height: auto;
    scale: 1;
  }
}

@keyframes slide-active-scale {
  0% {
    transform: scale(0.55);
  }
  100% {
    transform: scale(1);
  }
}
